.app {
    display: flex;
    min-height: 100vh;
    background-color: #121212;
    /* Dark theme background */
}

.app-main {
    flex: 1;
    margin-left: 250px;
    /* Width of sidebar */
    min-height: 100vh;
    background-color: #121212;
    overflow-y: auto;
}

/* Global Styles reset or adjustments */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #121212;
    color: #ffffff;
}